.box{
    display:flex;
    justify-content:center; 
    align-items: center;
    margin: 15px;
}
.Author{
    background-color:#008B8B;
    width:600px;
}
.Author h1{
    color:rgb(212, 131, 38);
}
.Author p{
    font-size: 20px;
    color: rgb(219, 143, 50);
}
.Author a{
    font-size: 20px;
    color:rgb(97, 195, 109);
}