/* Стили для хедера */ 
header {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    background: #0f172a; 
    min-height: 70px; /* Фиксируем высоту */
    padding: 10px 0;
    border-bottom: 1px solid #3498db;
    /* ФИКСАЦИЯ */
    position: sticky;      /* Хедер "прилипает" при скролле */
    top: 0;               /* Прижимаем к самому верху */
    z-index: 1000;        /* Гарантируем, что меню будет поверх видео */
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5); /* Добавим тени для отделения от контента */
}

header a {
    height: 40px;
    padding: 8px 20px; /* Внутренние отступы, чтобы рамка не прилипала к тексту */
    font-size: 14px;
    font-weight: 500;
    color: #ccfbf1;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    
    /* Стиль рамки */
    border: 1px solid #38bdf8; /* Полупрозрачная тонкая рамка */
    border-radius: 8px; /* Скругление углов */    
    transition: all 0.3s ease;
    background: rgba(255, 255, 255, 0.05); /* Легкий эффект стекла */
    
}

/* Эффект при наведении */
header a:hover {
    color: #fff;
    border-color: #e74c3c; /* Рамка становится ярко-красной */
    background: rgba(231, 76, 60, 0.1); /* Легкий красный оттенок внутри */
    box-shadow: 0 0 10px rgba(231, 76, 60, 0.3); /* Мягкое свечение */
    transform: translateY(-2px); /* Кнопка чуть «подпрыгивает» */
}

/* 1. Настройка body для "прилипающего" футера */
body {
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Высота во весь экран */
    background: url(https://artposter.com.ua/image/catalog/gallery/product_images/000842/flat/000842_flat.jpg);

}

h1 {
  background-color:#0f172a;
  color: #ccfbf1;
  margin:10;
  display:flex;
  align-items: center;
  justify-content:center;
}


/* старый код*/

.box{
    display:flex;
    justify-content:center; 
    align-items: center;
    margin: 15px;
}
.Author{
    background: #0f172a;
    width:80%;
    max-width: 800px;
    justify-content: center;
    padding: 30px;
    border-radius: 15px;
}
.Author h1{
    color: #ccfbf1;
}
.Author p{
    font-size: 20px;
    color: #ccfbf1;
}
.Author a{
    font-size: 20px;
    color: #ccfbf1;
}

/* Стили для футера*/
/* 3. Стили футера в стиле Neon Cyber */
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    background: #0f172a; 
    border-top: 1px solid #3498db; /* Линия сверху, как у хедера снизу */
    margin-top: auto; /* Дополнительная страховка прижатия */
}

footer p {
    margin: 0;
    padding: 8px 20px;
    font-size: 13px;
    font-weight: 500;
    color: #ccfbf1; /* Тот же бирюзовый цвет */
    text-transform: uppercase;
    letter-spacing: 0.5px;
    
    /* Рамка как у кнопок меню, но без эффекта наведения */
    /* border: 1px solid rgba(56, 189, 248, 0.4); 
    border-radius: 8px; */
    background: #0f172a;
}
