header{
    background-color: black;
}
header div {
    display: flex;
    justify-content: center;
    align-items: center;
}
header div a{
     height:50px;
    margin-left: 10px;
    font-size:20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-decoration:none;
}
header div a:hover{
    color: brown;
    background-color:white;

}

