@media (min-width: 320px) {
  #film-form input{
    height: 50px;
    width: 150px;
  }
}
#film-form input{
  height: 50px;
  width: 120px;
  border-radius: 15px;
}
.introduction {
  text-align: center;
}
.box_1{
  display:flex;
  flex-direction:column;
  align-items: center;
  justify-content:center;
}
.button {
  width: 70px;
  height: 50px;
  cursor: pointer;
  border-radius: 15px;
}
.button:hover {
  color: rgb(250, 26, 26);
  background-color: rgb(9, 9, 82);
}
h1 {
  color: black;
}
.button_clear  {
  display: flex;
  align-items: center;
  justify-content: center;
}
.button_clear button {
  width:100px;
  height:80px;
  border-radius: 15px;
  
}
.button_clear:hover button{
  cursor: pointer;
  color: rgb(250, 26, 26);
  background-color: rgb(9, 9, 82);
}
